body {
    display:flex;
    justify-content: flex-start;
    align-items: top;
    height: 100vh;
    width: 95vw;
    overflow-y:auto;

}
/* Начало вкладок */
.tabs {
    width: 100%;
    color: #4e4e4e;
    position: relative; /* Относительное позиционирование */
    font-family: sans-serif;
    letter-spacing: 1px;
    
   
   }
   .tab, .tab-title {   
     vertical-align: middle;
     height: 50px;    
     display: inline-block; /* Выстраиваем по горизонтали */
   }
   .tab input[type="radio"] { display: none; }
   .tab-title {
    background: #ccc; /* Цвет фона */
    padding: 5px 10px; /* Поля вокруг текста */
    border: none; /* Параметры рамки */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    min-width: 70px;
    text-align: center;
    
   }
   .tab-content {
    background: white;
    position: absolute; /* Абсолютное позиционирование */
    border: none; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    left: 0; /* Размещаем у левого края */
    width:100%;
    height: 100%;
/*    width: calc(100% - 20px);  Ширина содержимого */
    display: none; /* Прячем вкладку */
    z-index: 1; /* Отображаем поверх содержимого */
    box-shadow: 0 4px 16px #ccc; /* тень вокруг всего контента (надо как-то исключить кнопку) */
   }
   .tab :checked + .tab-title {
    position: relative; /* Относительное позиционирование */
    background: #fff; /* Цвет фона */
    top: 1px; /* Сдвигаем вниз */
    z-index: 1; /* Отображаем поверх содержимого */
    transition: 0.3s;
   }
   .tab :checked ~ .tab-content {
    display: block; /* Показываем активную вкладку */
   }
/* Конец вкладок */

/* Кнопка */
.defbutton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 240px;
    color: white;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
    height: 20 px;
    /*компоновщик для .loader*/
    display: grid;
    grid-template-columns: 1fr 5px;
    grid-gap: 5px;
    outline: 0 !important;
    text-align: center;
    display: inline-block;
    font: normal 16px arial;
}

.defbutton img {
  padding: 0px 50%;    
  vertical-align: middle;
  display: inline-block;
    
}


.defbutton:focus,
.defbutton:hover {
    background-color: rgba(0,113,240,0.7);
    cursor: pointer;
}

.defbutton:disabled,
.defbutton[disabled]{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #BBB;
  background-color: #EEE;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.defbutton::-moz-focus-inner {
    border: 0;
}

.loader {
    border: 3px solid white; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*значок загрузки побольше*/
.loader_large {
   border: 6px solid white; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Таблица */
.table {
background: white;
border-collapse:collapse;
}
th {
border-bottom: 1px solid #e0e0e0;
font-weight: 600;
font-size: 12px;
color: #4e4e4e;
background-color: ghostwhite;
padding: 10px 12px;
background: white;
}
td {
border-bottom: 1px solid #e0e0e0;
font-size: 12px;
padding: 10px 12px;
font-weight: normal;
transition: .3s;
}
/*
tr:nth-child(2n){
    background: rgba(94, 94, 94, .1);
}
*/
tr:hover td {
background: rgba(94, 94, 94, .1);
cursor: pointer;
}
tr:active td {
background: rgba(0,113,240,0.2);
cursor: pointer;
}
tr:active::after td:active::after {
background: rgba(0,113,240,0.2);
cursor: pointer;
}
htt {
}

td.on{
    background-color: rgba(0,113,240,0.2);
    cursor: pointer;
    transition: .3s;
}

td.off{
    background-color: white;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 6px !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 8px;
}

#success {
    padding: 0;
    margin: 0;
}

.ui-dialog .ui-dialog-content {
    background: #FFF;
    border: 0;
    padding: 6px !important;
    border-radius: 0 0 8px 8px;
}

.ui-widget-header {
    background: #FFF;
    border: 0;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
    border-radius: 8px 8px 0 0;
}

.title_div {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: relative;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_tbl_head, .main_tbl_body{ align: left;}

.main_table {
  height: 85vh;
  margin-top: 6px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.main_right_panel {
  display: inline-block;
  width: 350px;
  height: 90vh;
  background: #dffff4;
}

.div_loader {
  position:absolute;
  left: 4px;
  top: 4px;
}

.btn_updates {
  background: #AAA;
  border-radius: 4px;
  padding: 3px;
}

.btn_updates:hover {
  background: #CCC;
  border-radius: 4px;
  padding: 3px;
}

#img_settings, #img_admin_journal {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  margin-left: 8px;
}
